body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
    background-color:darkslategray;
}

/*----------css header starts----------*/
.header {
  background: white;
  color: #006699;
  position: fixed;
  z-index: 1;
  top: 0;
    transition: top 0.2s ease-in-out;
  width: 100%;
  margin: 0 auto;
  height: 150px;
}

.nav-up {
  top: -40px; // same as header height. use variables in LESS/SASS
}

h1 {
  font-family: Ubuntu;
  font-size: 85px;
  padding-left: 30px;
  float: left;
  margin-top: 15px;
}

 h1, nav {
   display: inline-block;
}

/* .name p {
  font-size: 20px;
  padding-top: 135px;
  margin-left: none;
  float: left;
  font-family: Ubuntu;
  color: #0099cc;
} */

nav {
  float: right;
  padding-right: 40px;
  cursor: pointer;
  font-family: Oswald;
  font-size: 18px;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  margin-left: 30px;
  margin-right: 40px;
  padding-top: 70px;
  position: relative;
}

nav li {
  color: #0088cc;
  text-decoration: none;
  text-transform: uppercase;
}

nav li:hover {
  color: black;
  font-size: 24px;
  letter-spacing: 5px;
  transition: 0.5s;
}

.dropbtn {
    color:  #0088cc;
    background-color: white;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 30px;
}

.dropbtn:hover, .dropbtn:focus {
    color: black;
    font-size: 24px;
    letter-spacing: 5px;
    transition: 1s;
    border: none;
}

.categories {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: auto;
    background-color: #f1f1f1;
    min-width:333px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
  background-color: #b3e6ff
}

.show {
  display:block;
}

/*-----------css header ends----------*/

/*-----------css background image starts----------*/

.container1 {
  margin: 0 auto;
  margin-top: 155px;
  background-image: url("background.jpg");
  filter: opacity(0.7);
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
}

* {
  box-sizing: border-box;
}

.content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
}

/*-----------css background image ends----------*/

/*-----------css categories image starts----------*/

.container2 {
  display: inline-inline-block;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 50px;
  height: 470px;
  font-family: Oswald;
  font-size: 20px;
  text-align: center;
}

.malay {
  float: left;
  
  font-weight: bold;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("malay.jpg");
  height: 300px;
  width: 380px;
  background-size: cover;
  background-repeat: no-repeat;

}

.chinese {
  float: left;
    margin-left:2%;
  font-weight: bold;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("chinese.jpg");
  height: 300px;
  width: 380px;
  background-size: cover;
  background-repeat: no-repeat;
}

.indian {
  float: left;
    margin-left:2%;
  font-weight: bold;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("indian.jpg");
  height: 300px;
  width: 380px;
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  margin-top:30%;
 
  color: white;
  font-size: 30px;
  
}

.container2:hover {
  cursor: pointer;
}

.text:hover {
  text-decoration: underline;
     transform: scale(2, 2);
}

footer {
  width: 100%;
  background: #d9d9d9;
  padding: 0.3rem;
  right: 0;
  bottom: 0;
  left: 0;
	position:absolute;
	margin-bottom: -100px;
	list-style: none;
	font-family: Oswald;
  height: 100px;
}

.words ul{
  float: left;
  padding-right: 50px;
  margin: 30px;
  list-style: none;
  text-transform: uppercase;
  color: #2e2eb8;
  display: inline;
  padding-left: 50px;
}

.words li {
  display: inline;
}

.words a {
  font-size: 14px;
  margin-left: 100px;
  margin-right: 100px;

}

a{
  text-decoration:none;
	color:inherit;
	
}	
