/*----------background title starts-------*/
.title {
  margin: 0 auto;
  margin-top: 155px;
  background-image: url("malay1.jpg");
  filter: opacity(0.8);
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
}

* {
  box-sizing: border-box;
}

.titletext {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
}
/*----------background title ends-------*/

/*----------tab starts-------*/
.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.tabs {
  position: relative;
  margin: 3rem 0;
  background: #1abc9c;
  height: 14.75rem;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 4em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  font-family:
  font-weight: bold;
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
}

.tab-label:hover {
  top: -0.45rem;
  transition: top 0.35s;
}

.tab-content {
  height: 111rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border:0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
  width: 100%;
}

.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}

.tab-switch:checked + label + .tab-content {
  z-index: 1;
  opacity: 1;
  transition: all 0.35s;
}
/*----------tab ends-------*/

/*----------body starts-------*/

.box {
  border-radius: 5px;
  border: 2px solid maroon;
  height: 550px;
  width: 450px;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 4%;
  position: relative;
  margin-top: 10px;
  margin-bottom: 1%;
}

.text h1 {
  color: red;
  font-size: 24px;
  margin-top: -12%;
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin-left: 60%;
  text-align: justify;
}

/* .text h1:hover {
  text-decoration: underline;
} */

.text p {
  color: #333333;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: -17%;
  width: 100%;
  text-align: center;
  height: 50px;
  margin-left:120px;	
  	
}

.NasiLemak {
  float: left;
  padding-left: 0.3%;
  margin: 0 auto;

}

.AsamPedas {
  float: right;
  padding-right: 5%;
  margin-left: 10%;
  padding-right: 2px;
  padding-left: 2px;
  margin: 0 auto;
}

.Tempoyak {
  float: left;
  padding-left: 0.3%;
  margin: 0 auto;

}

.MiBandung {
  float: right;
  padding-right: 5%;
  margin-left: 10%;
  padding-right: 2px;
  padding-left: 2px;
  margin: 0 auto;
}

.Currypuff {
  float: left;
  padding-left: 0.3%;
  margin: 0 auto;

}

.Keria{
  float: right;
  padding-right: 5%;
  margin-left: 10%;
  padding-right: 2px;
  padding-left: 2px;
  margin: 0 auto;
}

.Onde {
  float: left;
  padding-left: 0.3%;
  margin: 0 auto;

}

.KuihSaguMerah{
  float: right;
  padding-right: 5%;
  margin-left: 10%;
  padding-right: 2px;
  padding-left: 2px;
  margin: 0 auto;
  padding-top: 15px;
}

/*-----------------popups---------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto; /* 15% from the top and centered */
    margin-top: 5%;
    padding: 20px;
    border: 2px solid black;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 5%;
}

.modal-content img {
  height: 300px;
  width: 300px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.view {
  border: none;
  color: white;
  background: #ff4d4d;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  float: right;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: -10%;
  cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*----------body ends-------*/
.footer {
  width: 100%;
  background: #d9d9d9;
  padding: 0.3rem;
  right: 0;
  bottom: 0;
  left: 0;
	position:absolute;
	margin-bottom: -2200px;
  z-index: 1;
	list-style: none;
	font-family: Oswald;
  height: 100px;
}
