.titlecontainer{
    
    margin-top:150px;
    float:left;  
    width:100%;
    height:470px;
    background-image:url(chipic1.jpg);

  background-repeat: no-repeat;
  background-size: cover;
    opacity:0.7;
    
}
.titletext{
    margin:150px 25% 0px 25%;
    text-align:center;
    width:55%;
    height:30%;
    float:left;
    
    border: solid white 5px;
    color:black;
    font-weight:bold;
    font-family:sans-serif;
    
   
}

.pic{
    width:30%;
    height:300px;
    background-color:blue;
    float:left;
    margin-top:2%;
    margin-left:2.5%;
    border-radius:20px;
}

.one{
    background-image:url("/chinesefood/chipic1.jpg");
    background-position: center;
    background-size: cover;   
}
.two{
    background-image:url("/chinesefood/mooncake.jpg");
    background-position: center;
    background-size: cover;   
}
.three
{
    background-image:url("/chinesefood/chicken.jpeg");
    background-position: center;
    background-size: cover;   
    
}

.descriptions{
    height:100px;
    width:30%;
    float:left;
    margin-left:2.5%;
    border-style:groove;
    border-radius:5px;
    text-align: center;
    font-family:Ubuntu;
    
    
    
}
.subtitle{
    
    font-family:monospace;
    font-size:40px;
    text-align:center;
    float:left;
    height:50px;
    width:100%;
    margin-top:2%;
    
}


h2{
    color:white;
    text-align:center;
    margin-top:25%;
    font-size:50px;
    font-family:Ubuntu;   
}
h2:hover{
    text-decoration: underline;
}
h2:active{
    transition:0.5s;
    transform: translatescale(3,2);
}